@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --aside-width: 400px;
    --cart-aside-summary-height-with-discount: 300px;
    --cart-aside-summary-height: 250px;
    --grid-item-width: 355px;
    --header-height: 64px;
  }
}

@layer components {
  .header {
    @apply sticky top-0 z-40 flex h-16 items-center bg-white px-4 shadow-sm;
  }

  .header-menu-mobile-toggle {
    @apply md:hidden;
  }

  .header-menu-mobile {
    @apply flex flex-col gap-4;
  }

  .header-menu-desktop {
    @apply hidden gap-4 md:ml-12 md:flex;
  }

  .header-menu-item {
    @apply cursor-pointer;
  }

  .header-ctas {
    @apply ml-auto flex items-center gap-4;
  }

  .footer {
    @apply mt-auto bg-gray-900;
  }

  .footer-menu {
    @apply flex flex-wrap justify-center gap-4 p-4;
  }

  .footer-menu a {
    @apply text-white min-w-fit;
  }
}